<html>
<head>
<title>A web page that points a browser to a different page after 2 seconds</title>
<h1>SSO</h1>
<p> DN in certificate and DN in DB are differents </p>
<meta http-equiv="refresh" content="2; URL=http://nbk36.cerm.unifi.it/5.html">
<meta name="keywords" content="automatic redirection">
</head>
<body>
If your browser doesn't automatically go there within a few seconds, 
you may want to go to 
<a href="http://nbk36.cerm.unifi.it/5.html">the destination</a> 
manually.
</body>
</html>

